@import "mixin.scss";

$font-montserrat: "Montserrat", sans-serif;
.container {
  max-width: 320px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
  @media (min-width: 768px) {
    max-width: 768px;
    padding: 0 40px 0 40px;
  }
  @media (min-width: 1280px) {
    max-width: 1210px;
    padding: 0;
  }
  @media (min-width: 1680px) {
    max-width: 1340px;
  }
}
.wrapper {
  background-color: #111517;
}
.section {
  height: 520px;
  margin-bottom: 220px;
  @media (min-width: 768px) {
    height: 334px;
  }
}
.section__title {
  max-width: 230px;
  padding-top: 50px;
  padding-bottom: 18px;
  @include myfont-style($font-montserrat, 20px, 30px, bold, #fff);
  @media (min-width: 768px) {
    @include myfont-style($font-montserrat, 26px, 33px, bold, #fff);
    max-width: 456px;
    padding-top: 63px;
  }
  @media (min-width: 1280px) {
    padding-top: 80px;
  }
  @media (min-width: 1280px) {
    padding-top: 125px;
  }

}
.section__title--span {
  color: #ff6b08;
}
.wrapper-list {
  background-color: #fff;
  box-shadow: 4px 6.928px 15.54px 5.46px rgba(29,29,27,.04);
}
.section__list {
  padding: 15px 25px 30px 25px;

  @media (min-width: 768px) {
    width: 510px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (min-width: 1280px) {
    width: 1000px;
    justify-content: space-around;
  }
}
.section__item {
  padding-bottom: 12px;
  @media (min-width: 768px) {
    width: 200px;
  }
  @media (min-width: 1280px) {
    width: 250px;
  }
}
.section__item--desc {
  padding-bottom: 10px;
  @include myfont-style($font-montserrat, 14px, 30px, 400, #ff6b08);
  &::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: #ff6b08;
    margin-right: 10px;
    margin-bottom: 5px;
  }
}
.section__item--title {
  @include myfont-style($font-montserrat, 13px, 20px, bold, rgb(24, 25, 29));
  @media (min-width: 1280px) {
    @include myfont-style($font-montserrat, 18px, 30px, bold, rgb(24, 25, 29));
  }
}

