//.reviews {
//  padding: 50px 0;
//  text-align: center;
//}
//
//.reviews__title {
//  font-weight: 800;
//  font-size: 20px;
//
//  @media (min-width: 768px) {
//    font-size: 26px;
//  }
//  @media (min-width: 1280px) {
//    font-size: 42px;
//  }
//  @media (min-width: 1680px) {
//    font-size: 46px;
//  }
//}
//
//@media (min-width: 768px) {
//  .reviews__title div {
//    display: inline;
//  }
//}

.slider-block {
  position: relative;
  @media (min-width: 1280px) {
    max-width: 1065px;
  }
}

.slider {
  margin-top: 20px;
  position: relative;
}

.slider__card {
  padding: 20px 25px 50px;
  box-shadow: 4px 6.928px 34.96px 11.04px rgba(29, 29, 27, 0.09);
}

.slider__social img {
  padding: 20px 0 25px;
  display: inline;
}


.slider__title {
  font-weight: 800;
  color: #ff6b08;
  font-size: 13px;

  @media (min-width: 768px) {
    font-size: 18px;
  }
  @media (min-width: 1280px) {
    font-size: 25px;
  }
}

.slider__education {
  margin: 10px 0 20px;
  color: #858585;
  display: block;
  font-size: 11px;

  @media (min-width: 768px) {
    font-size: 12.5px;
  }
}

.slider__subscribes {
  font-size: 11px;
  line-height: 20px;
  color: #000;
  @media (min-width: 1280px) {
    font-size: 16.5px;
    line-height: 29px;
  }
}

.slider-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  margin-top: 15px;
}

.slider-nav__item {
  margin-right: 5px;
}

.slider-nav:last-child {
  margin-right: 0;
}

.arrow-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%,-50%);

  @media (min-width: 768px) {
    top: 40%;
  }
}

.arrow {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.arrow svg {
  fill: #ff6b08;
  width: 18px;
}

@media (min-width: 768px) {
  .prev-arrow {
    margin-left: -15px;
  }
  .next-arrow {
    margin-right: -15px;
  }
}

@media (min-width: 1280px) {
  .prev-arrow {
    margin-left: -40px;
  }
  .next-arrow {
    margin-right: -40px;
  }
}
